<header>sign in</header>

<div class="content">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign in" %>
  <% end %>
</div>
