!!! 5
%html
%head
  %meta{charset: 'utf-8'}
  %title= title
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = javascript_include_tag "dashboard"
  = csrf_meta_tags
%body
  :javascript
    Dashboard.utils.url_map = { index: "#{url_for action: "index"}" }

  %header
    .clock
    .sign_out_link= link_to "[ sign out ]", signout_path, :method => :delete
    .refresh_div refreshing in 10 seconds...

  .content
    = yield
